html {
    padding: 0;
    margin: 0;
}

body {
    width: 300px;
    padding: 0;
    margin: 0;
}

h2, h3, h4, h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

form div {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.inline > * {
    display: inline;
}

.wrapper {
    padding: 5px;
}

.bet-colour {
    text-transform: capitalize;
}

.blue {
    color: #349eff;
}

.red {
    color: #d14836;
}

.green {
    color: #4db044;
}

.session-winnings {
    display: inline-block;
    width: 100%;
}

.session-winnings > p {
    display: inline;
}

.session-winnings > input {
    float: right;
}

.tooltip {
    display: inline-block;
    text-align: center;
    background-color: #b8b2a8;
    padding: 1px;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    color: #222526;
}

.tooltip:hover {
    cursor: default;
}

.collapsible-title, .collapsible-title > * {
    display: inline;
    user-select: none
}

.collapsible-title:hover {
    cursor: pointer
}

.debug-info-content {
    font-size: 0.8em;
}

.debug-info-content p {
    margin: 5px;
}

.wider {
    width: 140px;
}

.links-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.links {
    font-size: 12px;
    display: flex;
    height: 24px;
    align-items: center;
}

.links img {
    max-height: 24px;
    max-width: 24px;
}

.links a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.links a img {
    margin-right: 5px;
}

.links > div {
    display: inline-block;
}

.separator {
    width: 1px;
    display: inline-block;
    top: 5%;
    height: 90%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: grey;
}

.match-table td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.match-table div {
    margin-top: 2px;
}

.match-table .left-aligned {
    text-align: left;
}

.hidden {
    display: none;
}

